.Projects__title {
  color: rebeccapurple;

  &::after {
    position: absolute;
    content: '';
    width:30%;
    height:3px;
    /* background-color:rgba(200, 0, 255, 0.781); */
    left:  35%;
    box-shadow:  -0px 4px 2px  rgb(0, 174, 255);
    transform: translateY(3.2rem)
  }
}
