.Projects__title {
  color: rebeccapurple;
  text-transform: uppercase;
  padding-top: 20px;

  &::after {
    position: absolute;
    content: '';
    width:40%;
    height:3px;
    left:  30%;
    box-shadow:  -0px 4px 2px  rgb(0, 174, 255);
    transform: translateY(3.2rem)
  }
}
