.CardGraphics {
  transition: all .4s linear;
  background-color: transparent !important;
  border: none !important;
  margin-bottom: 1.25rem !important;
  cursor: pointer;
  padding: 0 1rem;

  @media (min-width: 576px) {
    padding: 0;
  }

  &:hover &__image {
    opacity: .15;
    transition: all .4s linear;
  }

  &:hover &__title {
    visibility: visible;
    position: relative;
    transition: all .2s linear;

    &::before,
    &::after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
      width: 30%;
      height: 2px;
      background-color: var(--color-secondary);
      position: absolute;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__title {
    visibility: hidden;
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-weight: bolder;
    transition: all .2s linear;
  }

  &__image {
    background-color: transparent;
    transition: all .2s linear;
  }

  &__imageOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}