.CardGraphics {
  // width: 650px;
  // height: 93%;
  // cursor: pointer;
  transition: all .4s linear;
  // overflow: hidden;
  background-color: transparent !important;
  // background-color: var(--color-primary3) !important;
  border: none !important;
  margin-bottom: 1.25rem !important;
  // justify-content: space-evenly;
  cursor: pointer;
  // flex-direction: row !important;
  padding: 0 1rem;

  @media (min-width: 576px) {
    padding: 0;
  }

  &:hover &__image {
    opacity: .15;
    transition: all .4s linear;

  }

  &:hover &__title {
    visibility: visible;
    position: relative;
    transition: all .2s linear;

    &::before,
    &::after {
      content: '';

      left: 50%;
      transform: translateX(-50%);
      width: 30%;
      height: 2px;
      background-color: var(--color-secondary);
      position: absolute;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }


  }



  &__title {
    visibility: hidden;
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-weight: bolder;
    transition: all .2s linear;
    // margin: 0 !important;
    // color: var(--color-light);
  }

  &__image {
    background-color: transparent;
    // max-width: 200px !important;
    // height: auto !important;
    transition: all .2s linear;
  }

  &__imageOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}