.About {
  position: relative;
  padding: 60px 0;
  color: var(--color-light);
}

.Jumbo {
  background-image: linear-gradient(to right, rgba(24, 25, 27, .85), rgba(24, 25, 27, .85)), url(../../assets/images/desk.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: calc(100vh - var(--footer-height));
  top: var(--nav-height);
  margin-bottom: 0 !important;

  &__info {
    max-width: 600px;
    margin: 0 auto;

    a {
      color: var(--color-secondary);

      &:hover {
        text-decoration: none;
        color: var(--color-secondary-dark);
      }
    }

    p {
      margin-bottom: .2rem;
    }
  }

  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    bottom: 9%;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 50% 100%, 0 83%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, rgba(255, 255, 255, .08));
  }

  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    bottom: 4%;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0 87%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, rgba(255, 255, 255, .12));
  }

  &__name {
    font-family: 'Vivaldi Italic';
    color: var(--color-secondary);
    font-weight: bolder;
    font-size: 4rem;
    max-width: 27rem;
    margin: 0 auto;

    @media (max-width: 420px) {
      font-size: 3rem !important;
    }
  }

  &__icon {
    padding: .7rem;
    margin: .5rem;
    width: 62px;
    height: 62px;
    background-color: var(--color-primary2);

    @media (max-width: 420px) {
      width: 54px;
      height: 54px;
    }
  }

  &__redux {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 420px) {
      font-size: .9rem;
    }
  }
}