.Footer {
  background-color: var(--color-primary);

  &__myname {
    font-family: 'Vivaldi Italic';
    color: var(--color-secondary);
    font-weight: bolder;
    padding-left: .3rem;
    font-size: 1.5rem;

    @media (max-width: 420px) {
      width: 100vw;
    }
  }

  &__copyright {
    padding: 10px 15px;
  }
}