.Card {
  width: 335px;
  height: auto;
  cursor: pointer;
  transition: all .4s linear;
  overflow: hidden;
  @media (max-width: 420px) {
    width: 300px;
  }

  &__content {
    transition: all .4s ease-in-out;

    & h4 {
      text-align: center;
      transform: translateY(340px);
      text-transform: uppercase;
      font-style: italic;
      font-weight: bolder;
      padding: 20px 10px;
      background-color: var(--color-secondary);
      transition: all .4s ease-in-out;
      @media (max-width: 420px) {
        padding: 15px 5px;
        transform: translateY(312px);
      }
    }

    & h5 {
      margin-bottom: .3rem;
      transform: translateY(300px);
      transition: all .4s ease-in-out;
      visibility: hidden;
      margin: .2rem 1rem;
    }

    & ul {
      list-style: square;
      transform: translateY(300px);
      transition: all .4s ease-in-out;
      visibility: hidden;
      margin: 0 1rem;
    }
  }

  &:hover &__content {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &:hover &__content h4 {
    padding: 1rem;
    width: inherit;
    transform: translateX(0);
  }

  &:hover &__content h4,
  &:hover &__content h5,
  &:hover &__content ul,
  &:hover &__links {
    visibility: visible;
    transform: translateY(0);   
  }

  &__img {
    width: inherit;
    height: auto;
  }

  &__links {
    transform: translateY(300px);
    transition: all .1s ease-in-out;
    visibility: hidden;
    margin: 1rem;
  }
}