.Card {
  width: 650px;
  height: auto;
  cursor: pointer;
  transition: all .4s linear;
  overflow: hidden;
  background-color: var(--color-primary3) !important;
  justify-content: space-evenly;
  flex-direction: row !important;

  @media (max-width: 650px) {
    max-width: 450px;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 1rem;
  }

  &__content {
    width: 300px;
    margin: .5rem 1rem;

    @media (max-width: 650px) {
      max-width: 250px;
      align-content: center !important;
    }

    & h4 {
      color: var(--color-secondary);
      text-transform: uppercase;
      font-style: italic;
      font-weight: bolder;
      padding: 10px 0;

      @media (max-width: 650px) {
        width: 100%;
        text-align: center;
      }
    }

    & h5 {
      margin-bottom: .3rem;
    }

    & ul {
      list-style: square;
    }
  }

  &__img {
    margin: 1rem;
    align-self: center;

    @media (max-width: 650px) {
      height: 270px !important;
      margin-top: 1.5rem;
    }
  }

  &__links {
    margin: 1rem 0;

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
    }
  }
}