.Card {
  width: 335px;
  height: auto;
  cursor: pointer;
  transition: all .4s linear;
  overflow: hidden;

  &:hover {
    transform: scale(.99);
  }

  &__content {
    transition: all .4s ease-in-out;

    & h4 {
      width: 345px;
      text-align: center;
      transform: translate(-25px, 320px);
      text-transform: uppercase;
      font-style: italic;
      font-weight: bolder;
      padding: 20px 10px;
      background-image: linear-gradient(to right, rgba(104, 5, 161, 0.753), rgba(5, 108, 197, 0.767));
      border-radius: 10px;
      border-bottom: 3px solid white;
      transition: all .4s ease-in-out;
    }

    & h5 {
      margin-bottom: .3rem;
      transform: translateY(300px);
      transition: all .4s ease-in-out;
      visibility: hidden;
    }

    & ul {
      list-style: square;
      transform: translateY(300px);
      transition: all .4s ease-in-out;
      visibility: hidden;
    }
  }

  &:hover &__content {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &:hover &__content h4 {
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px;
    background-image: linear-gradient(to right, rgba(128, 5, 161, 0.753), rgba(5, 108, 197, 0.767));
    width: inherit;
    border-bottom: 2px solid white;
    transform: translateX(0);
  }

  &:hover &__content h4,
  &:hover &__content h5,
  &:hover &__content ul,
  &:hover &__links
  {
    // animation: example .5s ease-in-out;
    // transform: translateY(0);
    visibility: visible;
    transform: translateY(0);
    // background-color: rgba(0, 0, 0, 0.452);
   
  }

  &__img {
    width: inherit;
    height: auto;
  }

  &__links {
    transform: translateY(300px);
    transition: all .1s ease-in-out;
    visibility: hidden;
  }

}

// @keyframes example {
//   from { transform: translateY(100%);
//         visibility: hidden;}
//   to { transform: translateY(0);
//       visibility: visible;
//       }
// }